.blog {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0284d0;
  padding-bottom: 58px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    max-width: 768px;
  }
  @media screen and (min-width: 1360px) {
    max-width: 1360px;
  }
}

.blog-content-container {
  @media screen and (min-width: 1360px) {
    padding-right: 20px;
  }
}
.blog-info-wrap {
  @media screen and (min-width: 768px) {
    padding-top: 59px;
    padding-bottom: 59px;
  }
}

.blog-foto {
  max-width: 100%;
  margin-bottom: 48px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    height: 100%;
  }
  @media screen and (min-width: 1360px) {
    max-width: fit-content;
  }
}

.blog-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}

.blog-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;

  color: #ffffff;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 54px;
  }
}

.blog-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 16px 32px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: inherit;
  color: #ffffff;
  cursor: pointer;

  transition: 0.35s;
  &:hover,
  &:focus {
    color: #0284d0;
    background-color: #f4f4f4;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}
