.footer {
  max-width: 320px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333333;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    max-width: 768px;
  }
  @media screen and (min-width: 1360px) {
    max-width: 1360px;
  }
}

.footer-social {
  margin-bottom: 12px;
}

.footer-social-icon {
  cursor: pointer;
  transition: 0.35s;
  &:hover,
  &:focus {
    filter: invert(46%) sepia(61%) saturate(517%) hue-rotate(82deg)
      brightness(101%) contrast(97%);
  }
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}
