<section class="blog" id="blog">
  <div class="pic-wrap">
    <picture>
      <source
        type="image/jpg"
        srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x"
      />
      <source
        type="image/webp"
        srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
      />
      <img class="blog-foto" src="./images/home/blog.jpg" alt="Blog-foto" />
    </picture>
  </div>
  <div class="container blog-content-container">
    <div class="blog-info-wrap">
      <p class="blog-text">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-text" style="margin-bottom: 24px">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blog-btn">Read Our Blog</button>
    </div>
  </div>
</section>
