<section class="blog">
  <div class="container">
    <p class="blog-text">April 16 2020</p>
    <h2 class="blog-title">Blog Post One</h2>
    <p class="blog-text" style="margin-bottom: 24px">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog-btn">Read Our Blog</button>
  </div>
</section>
