<section class="cases" id="cases">
  <div class="container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text" style="margin-bottom: 31px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-img-list">
      <li class="cases-img-items">
        <a href="./images/cases/cases1.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases1.jpg    1x,
                ./images/cases/cases1@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases1.webp    1x,
                ./images/cases/cases1@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases1.jpg"
              alt="Case1"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases2.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases2.jpg    1x,
                ./images/cases/cases2@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases2.webp    1x,
                ./images/cases/cases2@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases2.jpg"
              alt="Case2"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases3.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases3.jpg    1x,
                ./images/cases/cases3@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases3.webp    1x,
                ./images/cases/cases3@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases3.jpg"
              alt="Case3"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases4.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases4.jpg    1x,
                ./images/cases/cases5@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases5.webp    1x,
                ./images/cases/cases5@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases4.jpg"
              alt="Case4"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases5.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases5.jpg    1x,
                ./images/cases/cases5@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases5.webp    1x,
                ./images/cases/cases5@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases5.jpg"
              alt="Case5"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases6.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases6.jpg    1x,
                ./images/cases/cases6@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases6.webp    1x,
                ./images/cases/cases6@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases6.jpg"
              alt="Case6"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases7.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases7.jpg    1x,
                ./images/cases/cases7@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases7.webp    1x,
                ./images/cases/cases7@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases7.jpg"
              alt="Case7"
            />
          </picture>
        </a>
      </li>
      <li class="cases-img-items">
        <a href="./images/cases/cases8.jpg">
          <picture>
            <source
              type="image/jpg"
              srcset="
                ./images/cases/cases8.jpg    1x,
                ./images/cases/cases8@2x.jpg 2x
              "
            />
            <source
              type="image/webp"
              srcset="
                ./images/cases/cases8.webp    1x,
                ./images/cases/cases8@2x.webp 2x
              "
            />
            <img
              class="cases-img-pic"
              src="./images/cases/cases8.jpg"
              alt="Case8"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
