<section class="contact">
  <div class="container">
    <h2 class="contact-title">Request Callback</h2>
    <form class="contact-form" name="contact" method="POST" data-netlify="true">
      <p class="name-field">
        <label
          ><input
            class="contact-input"
            type="text"
            name="name"
            placeholder="Enter your name"
        /></label>
      </p>
      <p class="email-field">
        <label
          ><input
            class="contact-input"
            type="email"
            name="email"
            placeholder="Enter email*"
        /></label>
      </p>
      <div class="error-message">
        <img src="./images/form/worning.svg" alt="warning" />
        <span style="color: red">This is a required field</span>
      </div>
      <p>
        <button class="submit-btn" type="submit">Send</button>
      </p>
    </form>
  </div>
</section>
