<section class="footer">
  <div class="container">
    <ul class="social-list">
      <li class="social-item">
        <img width="35" src="./images/social/facebook.svg" alt="facebook" />
      </li>
      <li class="social-item">
        <img width="35" src="./images/social/twiter.svg" alt="twiter" />
      </li>
      <li class="social-item">
        <img width="35" src="./images/social/youtube.svg" alt="youtube" />
      </li>
      <li class="social-item">
        <img width="35" src="./images/social/ln.svg" alt="ln" />
      </li>
    </ul>
    <p class="footer-text">Copyright &#169; 2021 - FinanceLedger</p>
  </div>
</section>
