<section class="hero" id="home">
  <div class="container">
    <div class="header">
      <a href="/"
        ><div class="logo-wrap">
          <img width="40" height="30" src="./images/logo.svg" alt="logo" />
          <p class="logo-text">
            <span class="logo-text green">Finance</span> Ledger
          </p>
        </div></a
      >
      <div class="header-menu-wrap">
        <ul class="header-menu">
          <li class="header-menu-items">
            <a class="header-menu-link home-link" href="#home">Home</a>
          </li>
          <li class="header-menu-items">
            <a class="header-menu-link about-link" href="#about">About</a>
          </li>
          <li class="header-menu-items">
            <a class="header-menu-link cases-link" href="#cases">Cases</a>
          </li>
          <li class="header-menu-items">
            <a class="header-menu-link blog-link" href="#blog">Blog</a>
          </li>
          <li class="header-menu-items">
            <a class="header-menu-link contact-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <h1 class="hero-title">The Sky Is The Limit</h1>
    <p class="hero-text">We provide world class financial assistance</p>
    <div class="hero-btn-wrap">
      <button class="hero-btn" type="button">
        <img
          class="hero-btn-icon"
          alt="button-img"
          src="./images/arrov.svg"
          height="12"
        />Read More
      </button>
    </div>
  </div>
</section>
