<section class="hero">
  <div class="container">
    <div class="header">
      <div class="logo-wrap">
        <img width="40" height="30" src="./images/logo.svg" />
        <p class="logo-text">
          <span class="logo-text green">Finance</span> Ledger
        </p>
      </div>
      <div class="header-menu-wrap">
        <ul class="header-menu">
          <li class="header-menu-items">Home</li>
          <li class="header-menu-items">About</li>
          <li class="header-menu-items">Cases</li>
          <li class="header-menu-items">Blog</li>
          <li class="header-menu-items">Contact</li>
        </ul>
      </div>
    </div>
    <h1 class="hero-title">The Sky Is The Limit</h1>
    <p class="hero-text">We provide world class financial assistance</p>
    <div class="hero-btn-wrap">
      <button class="hero-btn" type="button">
        <img class="hero-btn-icon" src="./images/arrov.svg" height="12" />Read
        More
      </button>
    </div>
  </div>
</section>
