<section class="team">
  <div class="container">
    <p class="team-text">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text" style="margin-bottom: 63px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-card">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./images/team/person1.jpg    1x,
              ./images/team/person1@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./images/team/person1.webp    1x,
              ./images/team/person1@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./images/team/person1.jpg"
            alt="John Doe"
          />
        </picture>
        <p class="team-name">John Doe</p>
        <p class="team-position">President</p>
      </li>
      <li class="team-card">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./images/team/person2.jpg    1x,
              ./images/team/person2@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./images/team/person2.webp    1x,
              ./images/team/person2@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./images/team/person2.jpg"
            alt="Jane Doe"
          />
        </picture>
        <p class="team-name">Jane Doe</p>
        <p class="team-position">Vice President</p>
      </li>
      <li class="team-card">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./images/team/person3.jpg    1x,
              ./images/team/person3@2x.jpg 2x
            "
          />
          <source
            type="image/webp"
            srcset="
              ./images/team/person3.webp    1x,
              ./images/team/person3@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./images/team/person3.jpg"
            alt="Steve Smith"
          />
        </picture>
        <p class="team-name">Steve Smith</p>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
